#New{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    position: relative;
    top: 00px;
    left: 0px;
    color: orangered;
    font-size: 70px;
}
.New2{
    position: relative;
    top:00px;
}